/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 700px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  margin: auto;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  background-image:
    repeating-linear-gradient(to right, transparent, transparent 2px, var(--base-gradiente) 2px, var(--base-gradiente) 4px),
    repeating-linear-gradient(to bottom, transparent, transparent 2px, var(--base-gradiente) 2px, var(--base-gradiente) 4px),
    linear-gradient(var(--start-gradiente), var(--finish-gradiente));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

.button {
  background-color: var(--background-color);
  border: none;
  font-family: 'PressStart2P';
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}

.header {
  margin: 100px 0 100px 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  border: 2px solid var(--accent-color);
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  background-color: var(--background-color);
}

.header__hgroup {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 217px;
  justify-content: flex-end;
}

.header__title {
  font-family: 'PressStart2P';
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  margin-bottom: 20px;
  text-transform: uppercase;
  outline: none;
}

.header__subtitle {
  font-family: 'PressStart2P';
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  grid-row: 3;
  align-content: start;
  height: 98px;
}

.theme-menu__list {
  display: grid;
  gap: 7px;
  justify-content: center
}

.theme-menu__button {
  text-transform: uppercase;
}



.theme-menu__button:disabled::before {
  content: '▶';
  position: relative;
  animation: slide 0.5s ease-in-out infinite alternate;
  pointer-events: none;
}

.theme-menu__button:enabled::before {
  content: '▶';
  color: var(--background-color);
}

.theme-menu__button:focus {
  outline: none;
  outline-offset: 0;
}

.theme-menu__button {
  position: relative;
}



.theme-menu__button:focus-visible::after {
  width: calc(100% - 35px);
}



.contend {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  display: grid;

}

.card__title {
  font-size: 18px;
  font-weight: 700;
  padding: 3px 10px 3px 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__container {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.card__container::before {
  content: "</html>";
  color: var(--accent-color);
  text-transform: uppercase;
  opacity: 50%;
  font-size: 14px;
  font-family: 'PressStart2P';
  position: absolute;
  text-align: right;
  width: 100%;
  background-blend-mode: hard-light;
  padding: 25px;
  z-index: 2;
  text-shadow: var(--background-color) 2px 0px, var(--background-color) 2px 2px, var(--background-color) 0px 2px, var(--background-color) -2px 2px, var(--background-color) -2px 0px, var(--background-color) -2px -2px, var(--background-color) 0px -2px, var(--background-color) 2px -2px;

}
@supports (-webkit-text-stroke: 1px var(--background-color)) or (text-stroke: 1px var(--background-color)){
  .card__container::before{
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__description {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__controls {
  display: flex;
  padding: 0 25px 25px 25px;
  justify-content: flex-end;
  align-items: center;
}

.card__like-button {
  width: 130px;
  border: 2px solid var(--accent-color);
  padding: 11px 0 11px 0;
  justify-self: end;
}

.card__icon-button {
  height: 40px;
  border: 2px solid transparent;
  cursor: pointer;

}

.card__icon-button:focus {
  outline: none;
}



.quad_button {
  position: relative;
  
}

.quad_button:hover{

  .span {
    position: relative;
    color: var(--background-color);
    z-index: 1;
  }

}


.quad_button:hover::before {
  left: 0;
  width: 100%;
  
}

.save__button {
  display: flex;
  border: 2px solid var(--accent-color);
  flex-direction: row;
  padding: 15px 21px 15px 21px;
  min-width: 345px;
  justify-content: space-between;
  justify-self: center;

}

.floppy { 
  width: 21px;
  height: 21px;
}




.core {
  fill: var(--contour);
  opacity: 0;
}

.main-body {
  fill: var(--contour);
  opacity: 0%;
}



  
 dialog {
  color: var(--accent-color);
  background-color: var(--background-color);
  border-width: 2px;
  min-width: 341px;
  max-width: 353px;
  align-items: center;
  font-family: 'PressStart2P';
  font-size: 14px;
  padding: 40px;
  gap: 30px;
 }



.insert-floppy{
  display: grid;
  align-items: center;
  text-transform: uppercase;
  line-height: 150%;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  grid-auto-flow: column;
  gap: 20px;
}

.submit__button{
  width: 100%;
  height: 38px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--accent-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.contrast{
  filter:contrast(25);
}
.brightness{
  filter:brightness(2.5);
}
.grayscale{
  filter:grayscale(0.8);
}
.saturate{
  filter:saturate(158%);
}
.hue-rotate{
  filter: hue-rotate(-90deg);
}
.sepia{
  filter: sepia(80%);
}
.invert{
  filter: invert(0.7);
}
.mix{
  filter:sepia(1) contrast(2) brightness(200%);;
}
.message__floppy{
  height: 39px;
  width: 39px;
}
@media (max-width: 375px){
  .header__hgroup {
    height: 177px;
}
.card__container::before {
  padding: 25px 10px 0 0 ;
}
.save__span{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.save__button{
  justify-content: center;
  width: 306px;
  min-width: 0px;
}
.save__floppy{
  transform: scale(1.3);
  margin-bottom: 15px;
}
}